services:
  rabbitmq:
    build: ./rabbitmq
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - microservices-net

  validador:
    build: ./validador
    container_name: validador
    ports:
      - "5001:5000"   # Validador
    environment:
      - RABBITMQ_HOST=rabbitmq
    depends_on:
      - rabbitmq
    networks:
      - microservices-net

  inventario1:
    build: ./inventario
    container_name: inventario1
    ports:
      - "5002:5001"
    environment:
      - INSTANCE_NUMBER=1
      - RABBITMQ_HOST=rabbitmq
      - PYTHONUNBUFFERED=1
    depends_on:
      - rabbitmq
    networks:
      - microservices-net

  inventario2:
    build: ./inventario
    container_name: inventario2
    ports:
      - "5003:5002"
    environment:
      - INSTANCE_NUMBER=2
      - RABBITMQ_HOST=rabbitmq
      - PYTHONUNBUFFERED=2
    depends_on:
      - rabbitmq
    networks:
      - microservices-net

  inventario3:
    build: ./inventario
    container_name: inventario3
    ports:
      - "5004:5003"
    environment:
      - INSTANCE_NUMBER=3
      - RABBITMQ_HOST=rabbitmq
      - PYTHONUNBUFFERED=3
    depends_on:
      - rabbitmq
    networks:
      - microservices-net

  nginx:
    image: nginx:latest
    container_name: api-gateway
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - validador
      - inventario1
      - inventario2
      - inventario3
    networks:
      - microservices-net

networks:
  microservices-net:
    driver: bridge
